###########################################################
#   Planetary system initial configuration
###########################################################

# Planet Name 	Distance	Mass	 Accretion	Feels Disk	Feels Others
